@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

.home{
  background: linear-gradient(to bottom right, #f3f1f5, #e8c08d);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}
.home h1{
  font-size: 3rem;
  color: #444;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
}
.home p{
  font-size: 1.3rem;
  color: #666;
  margin-top: 0;
}
.navbar{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #eee;
}
.nav-link{
  text-decoration: none;
  color: #444;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}
.nav-link:hover{
  color: #c0807a
}
.nav-link.active{
  color: #a85766;
  font-weight: 600;
  border-bottom: 2px solid #a85766;
}

.slider-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto 0;
}

.slide-image {
  width: 70%;
  max-width: 400px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0 ,0.08);
}

.buttons-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.buttons-container button{
  background-color: #f0f0f0;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.buttons-container button:hover {
  background-color: #d4e7f5;
}

.lang-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.lang-btn:hover {
  background-color: #f0f0f0;
}

@media (max-width: 600px){
  .navbar{
    flex-direction: column;
    gap:15px;
    padding: 15px;
  }
  .nav-link{
    font-size: 1rem;
  }
}