
 .mood-page{
  padding: 100px 20px 60px;
  text-align: center;
  min-height: 100vh;
  color: #2f2f2f;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
   background-image: linear-gradient(to bottom right, rgba(50, 50, 60, 0.4), rgba(20, 20, 30, 0.4)), url('./assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mood-page h1{
  font-size: 36px;
  color: #2e2e2e;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}
.buttons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
}

.buttons-container button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ccc;
  color: #2f2f2f;
  padding: 12px 22px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  backdrop-filter: blur(6px);
}

.buttons-container button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #aaa;
}

.collection-block{
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0 ,0, 0, 0.05);
  list-style: none;
}
.collection-block ul{
    list-style: none;
    padding-left: 0;
}
.slide-card{
    text-align: center;
    padding: 10px;
}
.slide-card img {
    width: 180px;
    height: 270px;
    object-fit: cover;
    border-radius: 10x;
    margin: 0 auto;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.slide-card p{
    margin-top: 10px;
    font-size: 15px;
    color: #d1d1d1;
}
.slide-card img:hover{
    transform: scale(1.03);
}
.slider-wrapper{
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
}
.slick-prev, .slick-next{
    z-index: 2;
    width: 30px;
    height: 30px;
}

.slick-slider{
    overflow: visible;
}